<% provide(:title, "Yayınlar") %>

<div>
  <div>
    <%= image_tag("psikososyal_1.jpg", size: "239x356", alt: "Psikososyal kapak resmi") %>
    <%= image_tag("psikososyal_2.jpg", size: "239x356", alt: "Psikososyal kapak resmi") %>
  </div>

  <div>
    <%= image_tag("kizilay_travma.jpg", size: "238x359", alt: "Psikososyal kapak resmi") %>
  </div>

  <div>
    <%= image_tag("travma_sonrasi_1.jpg", size: "250x352", alt: "Psikososyal kapak resmi") %>
    <%= image_tag("travma_sonrasi_2.jpg", size: "250x352", alt: "Psikososyal kapak resmi") %>
  </div>
</div>